@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

body {
    background-image: url('https://i.pinimg.com/originals/c3/02/88/c30288c36006d35547b12cbe0c859046.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.card {
    border: solid 1px black;
    border-radius: 9px;
    width: 5em;
    height: 7em;
    justify-content: center;
    background-color: white;
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 2px darkred, -.5em 0 .7em olive;
}   

p {
    font-family: 'Smokum', cursive;
    font-size: 100px;
    text-decoration:underline;
    -webkit-text-stroke: 1px goldenrod;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#display {
    font-family: 'Cardo', serif;
    font-size: large;
}

.btn-group, .btn-primary {
    font-family: 'Cardo', serif;
}

.btn-warning:active, .btn-success:active, .btn-primary:active {
    transform: translateY(4px);
}